#cadastro {
  background-color: var(--branco);
  margin-left: 20%;
  padding: 25px;
  display: flex;
}

.articles {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: flex-start;
  max-width: 1200px;
  gap: 24px;
}

.articles article {
  max-width: 320px;
  height: 100%;
  cursor: pointer;
  position: relative;
  display: block;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.articles article a {
  display: inline-flex;
  color: var(--verde);
  text-decoration: none;
}

.articles article h2 {
  margin: 0 0 18px 0;
  font-size: 1.6rem;
  color: var(--verde);
  transition: color 0.3s ease-out;
}

.articles article img {
  max-width: 100%;
  transform-origin: center;
  transition: transform 0.4s ease-in-out;
}

.article-preview {
  padding: 24px;
  background: var(--preto);
}

.article-preview p {
  color: var(--branco);
}

.articles figure {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.articles figure img {
  height: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  object-fit: cover;
}

.articles article:hover img {
  transform: scale(1.5);
}

#formEquipamento {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  font-size: 1.3vw;
}

#divformEquipamento {
  display: flex;
  padding: 15px;
  height: 100%;
}

.inputEquipamento {
  padding: 5px;
  margin-bottom: 10px;
  width: 100%;
  border: solid 1px var(--cinza);
  border-radius: 5px;
}

.selectEquipamento {
  padding: 5px;
  margin-bottom: 10px;
  border: solid 1px var(--cinza);
  border-radius: 5px;
}

#submitEquipamento {
  background-color: var(--verde);
  border: none;
  border-radius: 15px;
  width: 25%;
  height: 10%;
  display: block;
  align-self: end;
  color: var(--branco);
  font-size: 1.5vw;
  padding: 10px;
  font-weight: 600;
  margin-top: 15px;
  cursor: pointer;
}

#submitEquipamento:hover {
  background-color: var(--preto);
}

#submitEquipamento:lang() {
  background-color: var(--branco);
}
