#menu {
  position: fixed;
  background-color: black;
  width: 15%;
  height: 100%;
}

#linksPrincipal {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  align-self: center;
  text-align: center;
}

#linksPrincipal a {
  border-radius: 15px;
  background-color: var(--cinza);
  color: var(--branco);
  padding: 25px;
  margin: 15px;
  cursor: pointer;
  height: 100%;
  width: 75%;
}

#logo {
  display: flex;
  width: 100%;
  height: 15%;
  justify-content: center;
  justify-self: center;
  justify-items: center;
  align-items: center;
  align-self: center;
  align-content: center;
  text-align: center;
}

#logo img {
  width: 25%;
  height: 50%;
}

#logo h1 {
  color: var(--branco);
}
