#dash .secaoGrafico {
  display: flex;
  flex-direction: column;
  width: 150vh;
  margin-left: 300px;
}

#dash {
  background-color: var(--branco);
}

#dash .grafico {
  margin: 25px;
  padding: 25px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 15px;
  background-color: var(--cinzaescuro);
}
